@{
  Layout="Shared/_Layout";
}

<div class="container">
  <h1>@Model["salon"].GetName()</h1>
  <h3>@Model["salon"].GetAbout()</h3>
  <h3>Here are all the stylists at this salon:</h3>

  @if (@Model["stylists"].Count == 0)
  {
    <p>No stylists have been added yet!</p>
  }
  else
  {
    <ol>
      @foreach (var stylist in @Model["stylists"])
      {
        <li><a href="/stylists/@stylist.GetId()">@stylist.GetName()</li>
      }
    </ol>
  }

  <form action='/salon/@Model["salon"].GetId()/edit' method="get">
      <input type="hidden" name="salon-edit" id="salon-edit" value="salon-edit"><button type="submit">Edit this Salon</button>
  </form>
  <form action='/salon/@Model["salon"].GetId()/delete' method="get">
      <input type="hidden" name="salon-delete" id="salon-delete" value="salon-delete"><button type="submit">Delete this Salon</button>
  </form>
  <p><a href="/stylists/new">Add a new stylist</a></p>
  <p><a href="/">Return Home</a></p>
</div>
